{% extends 'base.html.twig' %}

{% block title %}Edit Drugs{% endblock %}

{% block body %}
    <h1>Edit Drugs</h1>

    {{ include('drugs/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_drugs_index') }}">back to list</a>

    {{ include('drugs/_delete_form.html.twig') }}
{% endblock %}
