{% extends 'base.html.twig' %}

{% block title %}New Drugs{% endblock %}

{% block body %}
    <h1>Create new Drugs</h1>

    {{ include('drugs/_form.html.twig') }}

    <a href="{{ path('app_drugs_index') }}">back to list</a>
{% endblock %}
